.sign-in {
  background-color: var(--my-black);
  padding: 1rem;  
}

.sign-in h2 {
  width: 100%;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.submit {
  width: 100px;
  padding: 5px;
  justify-content: center;
  margin: auto;
  border-color: var(--my-white);
}