.post {
  width: 100%;
  background-color: var(--my-black);
  padding: 1rem;
  border-radius: 8px;
}

.post figure {
  margin: 0;
  max-width: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.post figure img {
  width: 100%;
  height: 100%;
}

.author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.actions button {
  display: flex;
  align-items: center;
  background-color: var(--my-black);
  color: var(--my-white);
  border-radius: 4px;
  border-color: var(--my-black);
  border-width: 2px;
  cursor: pointer;
}
