.addPostForm {
  padding: 1rem;
  background-color: var(--my-black);
}

.addPostForm figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.addPostForm figure img {
  width: 100%;
  height: 100%;
}

.addPostForm form {
  width: calc(100% - (40px + 1rem));
}
