.input {
  width: 100%;
  padding: 7px 5px;
  background-color: var(--my-gray);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: var(--my-white);
  border: 0;
}

.input:focus-visible {
  outline: 1px solid var(--my-white) ;
}